# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
migrations/
/media/
# C extensions
*.so
*.pyproj
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
env/
*.egg-info/
.installed.cfg
*.egg
./static/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.config
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
db.json
ptvs_virtualenv_proxy.py
static/
*.sqlite3
obj/
*.pydio_id
