{% extends "app/layout.html" %}{% load i18n admin_urls admin_static admin_modify %}

{% block content %}

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
</br>
  <div class="jumbotron">
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script src="{% static 'app/scripts/tinymce/tinymce.min.js' %}"></script>
    <script>tinymce.init({
    selector: 'textarea',
    height: 250,
    theme: 'modern',
    plugins: [
      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime media nonbreaking save table contextmenu directionality',
      'emoticons template paste textcolor colorpicker textpattern imagetools'
    ],
    toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    toolbar2: 'print preview media | forecolor backcolor emoticons',
    image_advtab: true,
    content_css: [
      '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
      '//www.tinymce.com/css/codepen.min.css'
    ]
   });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/form.css' %}" />
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
      <div>
        {% if errors %}
          <p class="errornote">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {{ adminform.form.non_field_errors }}
        {% endif %}
        {% block field_sets %}
        {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
        {% endfor %}
        {% endblock %}
        {% submit_row %}
      </div>
    </form>
  </div>
{% endblock %}
