{% extends "app/layout.html" %}
{% load i18n static %}
{% block content %}
    <div class="jumbotron">
        {% if app_list %}
            <div class="panel panel-default">
                <table class="table">
                    {% for model in app_list.0.models %}
                        <tbody>
                            <th>
                            {% if model.admin_url %}
                                <a href="{{ model.admin_url }}">{{ model.name }}</a> 
                            {% else %}
                                {{ model.name }}
                            {% endif %}
                                &nbsp;
                            </th>
                            <th>
                            {% if model.add_url %}
                               <a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                            </th>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}
    </div>
{% endblock %}
