{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
<script src="{% static 'app/scripts/tinymce/tinymce.min.js' %}"></script>
<script>tinymce.init({
  selector: 'textarea',
  height: 250,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools'
  ],
  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons',
  image_advtab: true,
  content_css: [
    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });
</script>
<div class="jumbotron">
	<form action="" method="post" enctype="multipart/form-data">
		<div class="container">
		  <div class="row">
				{% csrf_token %}
				<div class="col-md-7" id="main-content">	
					{% trans "Titre" %} : {{ form.Titre }}
							{{ form.Image }}
				</div>
				<div class="col-md-5" id="news">
					<ul class="list-group">
						<li class="list-group-item">{% trans "Tarif" %} : {{ form.prix }}</li>
						<li class="list-group-item">{% trans "TarifAdh" %} : {{ form.prixAdh }}</li>
						<li class="list-group-item">{% trans "NbPlace" %} : {{ form.nBplace }}</li>
                    	<li class="list-group-item">{{form.date}}</li>
                    </ul>
				</div>
			</div>
			{% trans "Description" %} : 
			{{ form.Descritpion }}
			<input type="submit" value="Submit" class="btn btn-default"/>
		</div>
	</form>
</div>
{% endblock %}
