{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div class="jumbotron">
	<a href="{% url 'Config' %}" class="btn btn-default">Config</a>
	<a href="{% url 'ListMateriaux' %}" class="btn btn-default">Liste des matieres</a>
	<a href="{% url 'ListLicence' %}" class="btn btn-default">Liste des licences</a>
	<a href="{% url 'ListUser' %}" class="btn btn-default">Liste des utilisateurs</a>
	<a href="{% url 'AddMachine' %}" class="btn btn-default">Ajouter une machine</a>
	<a href="{% url 'AddAtelier' %}" class="btn btn-default">Ajouter un atelier</a>
	
</div>
{% endblock %}
