{% extends "app/layout.html" %}
{% block content %}
{% load staticfiles %}
{% load i18n %}
<div class="jumbotron">
	<div class="row">
		<div class="col-xs-5 col-md-4">
			<div class="thumbnail">
				{% load static %}
				{% if lastProject != None %}
					<img src="{% static 'app/objects/' %}{{lastProject.NameFile}}.png " />
				{% else %}
					<img src="{% static 'app/Image/no_avatar.png' %} " />
				{% endif %}
				<div class="caption">
					<h3>{% trans "ProjetLast" %}</h3>
			        <p><a href  ="{% url 'ListProjet' %}" class="btn btn-primary" role="button">{% trans "Consulter" %}</a> 
				</div>
			</div>
		</div>
		<div class="col-xs-5 col-md-4">
			<div class="thumbnail">
				{% load static %}
				{% if LastEvent != None %}
					<img src="{% get_media_prefix %}{{LastEvent.Image}}" />
				{% else %}
					<img src="{% static 'app/Image/no_avatar.png' %} " />
				{% endif %}
				<div class="caption">
					<h3>{% trans "EventList" %}</h3>
			        <p><a href  ="{% url 'ListAtelier' %}" class="btn btn-primary" role="button">{% trans "Consulter" %}</a> 
				</div>
			</div>
		</div>
		<div class="col-xs-5 col-md-4">
			<div class="thumbnail">
				{% load static %}
				{% if LastMachine != None %}
					<img src="{% get_media_prefix %}{{LastMachine.Image}}" />
				{% else %}
					<img src="{% static 'app/Image/no_avatar.png' %} " />
				{% endif %}
				<div class="caption">
					<h3>{% trans "MachineList" %}</h3>
			        <p><a href  ="{% url 'ListMachine' %}" class="btn btn-primary" role="button">{% trans "Consulter" %}</a> 
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
