{% extends "app/layout.html" %}
{% block content %}
{% load i18n %}
{% load staticfiles %}
<script type="text/javascript">
</script>
<div class="jumbotron">
	<div class="container">
		<div class="row">
			{% get_current_language as LANGUAGE_CODE %}
			<form action="/{{ LANGUAGE_CODE }}/Admin/{{ type }}/Add/" method="post">
				{% csrf_token %}
				<div class="col-md-3" id="main-content">
					<label for="id_Nom">{% trans "Add" %}  {{ type }} : </label>
				</div>
				<div class="col-md-3" id="main-content">
					<input class="form-control" id="id_Nom" maxlength="254" name="Nom" placeholder="{{ type }}" type="text" /> 
				</div>
				<div class="col-md-3" id="main-content">
					<input type="submit" value="Enregistrer" class="btn btn-default"/>
				</div>
			</form>
		</div>
		{% for i in data %}
			<div class="row">
				<form action="/{{ LANGUAGE_CODE }}/Admin/{{ type }}/Suppr/" method="post">
					{% csrf_token %}
					<div class="col-md-6" id="main-content">
						<input class="form-control" id="id_Nom" maxlength="254" name="Nom" placeholder="{{ type }}" type="text" 
						style = 'visibility: hidden;'  value='{{i.Nom}}'/>
						<p itemprop="name">{{i.Nom}} </p>
					</div>
					<div class="col-md-6" id="main-content">
						<input type="submit" value="{% trans "Suppr" %}" class="btn btn-default"/>
					</div>
				</form>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
