{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
<div class="jumbotron">
    <h2>{{ title }}</h2>
        <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <ul class="list-group">
            <li class="list-group-item">{% trans "Pseudo" %} : {{ form.username }}</li>
            <li class="list-group-item">{% trans "Mot de passe" %} : {{ form.password }}</li>
            {% if form.errors %}
                <p class="validation-summary-errors">{% trans "PleaseCorrectUser" %}</p>
            {% endif %}
        </ul>
        <input type="submit" value="Submit" class="btn btn-default"/>
    </form>
</div>
{% endblock %}
{% block scripts %}
    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
